<form>
  <section class="operator-config addition">
    <mat-checkbox
      name="+"
      [(ngModel)]="additionConfig.active"
      (change)="onChange($event)"
    >
      Addition
    </mat-checkbox>
    <div *ngIf="additionConfig.active">
      <ng5-slider
        [(value)]="additionConfig.rangeFirst[0]"
        [(highValue)]="additionConfig.rangeFirst[1]"
        [options]="options"
      >
      </ng5-slider>
      <ng5-slider
        [(value)]="additionConfig.rangeSecond[0]"
        [(highValue)]="additionConfig.rangeSecond[1]"
        [options]="options"
      >
      </ng5-slider>
    </div>
  </section>
  <section class="operator-config subtraction">
    <mat-checkbox
      name="-"
      [(ngModel)]="subtractionConfig.active"
      (change)="onChange($event)"
    >
      Subtraktion
    </mat-checkbox>
    <div *ngIf="subtractionConfig.active">
      <ng5-slider
        [(value)]="subtractionConfig.rangeFirst[0]"
        [(highValue)]="subtractionConfig.rangeFirst[1]"
        [options]="options"
      >
      </ng5-slider>
      <ng5-slider
        [(value)]="subtractionConfig.rangeSecond[0]"
        [(highValue)]="subtractionConfig.rangeSecond[1]"
        [options]="options"
      >
      </ng5-slider>
    </div>
  </section>
</form>
